td {
    width: 75px;
    height: 75px;
    border: 2px outset black;
    background-color: #bb8855;
}

.peg {
    margin: auto;
    background-color: red;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.black {
    background-color: gray;
}

.unselected {
    border: 2px outset black;
}

.selected {
    border: 2px dashed black;
}

.empty {
    visibility: hidden;
}

#board-container {
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
    height: 100%;
    width: 80%;
}

#ui-container {
    display: flex;
    float: right;
    width: 19%;
    height: 100%;
}

#ui-inner-container {
    display: block;
    font-family: sans serif;
    font-size: 16pt;
}

#score {
    margin-top: 100%;
}

#info {
    margin-top: 20%;
}

option, input{
    font-size:16pt;
}

