td {
    width: 50px;
    height: 50px;
    border: 2px outset black;
    background-color: #bb8855;
}

.peg {
    margin: auto;
    background-color: red;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.black {
    background-color: gray;
}

.unselected {
    border: 2px outset black;
}

.selected {
    border: 2px dashed black;
}

.empty {
    visibility: hidden;
}

#container {
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 50px;
}

#board-container {
    flex: 1;
}

#ui-container {
    flex: 0 0 70%;
}

#result, #score, #info, #options {
    font-family: sans serif;
}

#result {
    padding-top: 50px;
}

#options {
    margin-top: 20px;
}

